html {
  font-family: Libre Baskerville;
  min-height: 100%;
  position: relative;
}

body {
  height: 100%;
}

#pagefill {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.top, .container, .bottom {
  display: flex;
  flex-direction: row;
}

.left, .right {
  width: 20%
}

.container {
  flex-grow: 1;
  overflow: hidden;
}

.center {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  overflow: auto;
}

.editor:focus {
    outline: 0px solid transparent;
}

::-webkit-scrollbar {
    display: none;
}
